[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends
[submodule "JEE-next/dzslides"]
	path = JEE-next/dzslides
	url = git@github.com:kubamarchwicki/dzslides.git
[submodule "deck2pdf"]
	path = deck2pdf
	url = https://github.com/melix/deck2pdf
[submodule "jak-programowac/dzslides"]
	path = jak-programowac/dzslides
	url = git@github.com:kubamarchwicki/dzslides.git
